{% extends 'qna/base.html' %}

{% block header %}
<div class="lead">
    About
</div>
{% endblock header %}

{% block content %}
<div>
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quo reprehenderit architecto,
    deserunt iusto tempore unde, tenetur modi libero
    odio dolorem officia esse? Perspiciatis necessitatibus
    eligendi quia? Porro exercitationem unde deleniti?
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quo reprehenderit architecto,
    deserunt iusto tempore unde, tenetur modi libero
    odio dolorem officia esse? Perspiciatis necessitatibus
    eligendi quia? Porro exercitationem unde deleniti?
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quo reprehenderit architecto,
    deserunt iusto tempore unde, tenetur modi libero
    odio dolorem officia esse? Perspiciatis necessitatibus
    eligendi quia? Porro exercitationem unde deleniti?
</div>
{% endblock content %}